<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salman.dude">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_dude"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_dude_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AddTaskActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditTaskActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddNoteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditNoteActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="orc" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>